@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{margin: 0;
  padding: 0;
  font-family:'poppins','sans-serif';}
body{background-image:url(https://images.pexels.com/photos/1268855/pexels-photo-1268855.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
     background-size:cover;
     background-repeat: no-repeat;
     background-position: center;
    overflow: hidden;}
.card{color: black;
    background-color: white;
    height:120px;
    width:100%;
    border-radius: 25px;
    text-align:center;
    border:1px solid white;
    font-size:70px;
    letter-spacing: 8px;
    margin-top:690px;
    transition-duration:2s;
    transition-timing-function: ease-in-out;}
.p1{color: black;
    background-color: white;
    height:360px;
    width:100%;
    border-radius: 19px;
    overflow: hidden;
    text-align:center;
    border:1px solid black;
    font-size:70px;
    letter-spacing: 8px;
    margin-top:450px;}
button{background-color: blue;
       color: white;
       border-radius:50px;
       width: 130px;
       padding: 12px;}
.card:hover{height:360px;
            margin-top: 450px;}
h1{color: white;}
a{text-decoration: none;
    color: white;}
